
<h2>Meme Generator</h2>

<form action="" method="post">
    <input type="text" name="top" placeholder="Enter top text here" />
    <br />
    <input type="text" name="bottom" placeholder="Enter bottom text here" />
    <br />
    <input class="btn" type="submit" value="Generate meme" />
</form>
